/* ImageSlider.css */
@keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .scrolling {
    animation: scroll 15s linear infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;
  }
  
  .paused {
    /* animation: scroll 15s linear infinite; */
    animation-play-state: paused;
  }
  
  .running {
    animation-play-state: running;
  }